@page "{handler?}/{id:int?}"
@model razor_pages.Pages.Book.Index
@{
    Layout = "_Layout";
}
@if (@Model.Books is not null)
{
    foreach (var book in @Model.Books)
    {
        <p>@book</p>
    }
}