@page "{year}/{month}/{day}/{title}"
@model razor_pages.Pages.Book.Authors.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Authors</h1>
    <p>@RouteData.Values["year"] @RouteData.Values["month"] @RouteData.Values["month"] @RouteData.Values["title"]</p>
</div>
</body>
</html>