@using blazor_app.Data
<tr>
    <td>@Id</td>
    @if (IsEdited)
    {
        <td style="width: 40rem">
            <input type="text" name="title" @bind-value="Title"/>
            <button type="button" @onclick="Edit">Save</button>
        </td>
        
    }
    else
    {
        <td style="width: 40rem">@Title</td>
    }
    <td>@Deadline</td>
    <td><input type="checkbox" @bind="IsDone" disabled="@Disabled"></td>
    <td>
        @if (!IsEdited)
        {
            <button type="button" @onclick="Click">Edit</button>
        }
    </td>
</tr>

@inject TodoService Service
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public DateTime Deadline { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter] 
    public bool IsDone { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> Click {get; set;}
    [Parameter]
    public bool IsEdited { get; set; }
    [Parameter]
    public bool Disabled { get; set; }

    private void Edit()
    {
        Service.UpdateTodoTitle(Title, Id);
        IsEdited = false;
    }
}

